.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .user-stats {
    display: flex;
    align-items: center;
  }